In [5]:
def count(num):
  c=1
  while(num>0):
    num=num//10
    c=c+1
  print("digits are:",c)
count(75869)

digits are: 6

In [13]:
def sum(num):
  sum1=0
  avg=0
  for i in range(1,len(num)):
    num[i]=num[i-1]+num[i]
  for i in range(0,len(num)):
    sum1=sum1+num[i]
    avg=sum1/len(num)
  print(avg)
num=[5.8,2.6,9.1,3.4,7.0  ]
sum(num)
print(num)

16.1
[5.8, 8.4, 17.5, 20.9, 27.9]

In [15]:
def counter(filename):

  total_chars = 0
  total_digits = 0
  total_uppercase = 0
  total_lowercase = 0
  total_spaces = 0

  with open(filename, "r") as f:
    for line in f:
      for char in line:
        total_chars += 1
        if char.isdigit():
          total_digits += 1
        elif char.isupper():
          total_uppercase += 1
        elif char.islower():
          total_lowercase += 1
        elif char.isspace():
          total_spaces += 1

  return {
      "total_chars": total_chars,
      "total_digits": total_digits,
      "total_uppercase": total_uppercase,
      "total_lowercase": total_lowercase,
      "total_spaces": total_spaces,
  }

#Implementation
filename = "q3.txt"
counts = counter(filename)

print("Total characters:", counts["total_chars"])
print("Total digits:", counts["total_digits"])
print("Total uppercase characters:", counts["total_uppercase"])
print("Total lowercase characters:", counts["total_lowercase"])
print("Total spaces:", counts["total_spaces"])

Total characters: 25
Total digits: 3
Total uppercase characters: 0
Total lowercase characters: 15
Total spaces: 2

# Q4

In [21]:
DOB="2003-01-05 08:53:31.715391"
date="2024-01-26 07:53:31.715391"
year=int(DOB[0:4])
month=int(DOB[5:7])
day=int(DOB[8:10])
hour=int(DOB[11:13])
min=int(DOB[14:16])
sec=int(DOB[17:19])
milsec=int(DOB[20:99])
year1=int(date[0:4])
month1=int(date[5:7])
day1=int(date[8:10])
hour1=int(date[11:13])
min1=int(date[14:16])
sec1=int(date[17:19])
milsec1=float(date[20:99])
timestamp=(year1-year)*365*24*60*60+(month1-month)*30*24*60*60+(day1-day)*24*60*60+(hour1-hour)*60*60+(min1-min)*60+(sec1-sec)+(milsec)
print(timestamp)

664782191

# Q5

In [22]:
array=[[0,0,0,0],
      [0,0,0,0],
      [0,0,0,0],
      [0,0,0,0]]
initialpointx=1
initialpointy=1
expectedpointx=4
expectedpointy=4

for x in range(0,3):
  for y in range(0,4):
    if(initialpointx<expectedpointx):
      initialpointx=initialpointx+1
      print("path at this moment is ",initialpointx,initialpointy)
    if(initialpointy<expectedpointy):
      initialpointy=initialpointy+1
      print("path at this moment is ",initialpointx,initialpointy)
    else:
      break

path at this moment is  2 1
path at this moment is  2 2
path at this moment is  3 2
path at this moment is  3 3
path at this moment is  4 3
path at this moment is  4 4